{% extends 'master/master-logged-in.html' %}
{% block title %}Edit Notes{% endblock %}
{% block main %}  
<a href="/list" class="btn btn-light">Go Back</a> 
<h3>Edit Notes</h3>
<div class="container">
  <form method="POST">
  <div class="mb-3 form-group">
    <label for="title" class="form-label">title</label>
    <input type="text" class="form-control" 
        id="title" placeholder="type here notes title...."
        name="title" value="{{ note.title }}">
  </div>
  <div class="mb-3 form-group">
      <label for="notes" class="form-label">notes</label>
      <textarea class="form-control" 
          id="notes" placeholder="type here notes...."
          name="notes">{{ note.notes }}</textarea>
    </div>
  <button type="submit"
    class="btn btn-danger">Update Notes</button>
  </form>
</div>
  {% endblock %} 