{% extends 'master/master-logged-in.html' %}
{% block title %}Home Page{% endblock %}
{% block main %}
  <h3>Search Notes</h3>
  <div class="container">
    <form method="POST">    

    <div class="mb-3 form-group">
      <label for="title" class="form-label">title</label>
      <input type="text" class="form-control" name="title"
          id="title" placeholder="type here notes title....">
    </div>
    <div class="mb-3 form-group">
        <label for="notes" class="form-label">notes text</label>
        <textarea class="form-control"  name="notes"
            id="notes" placeholder="type here notes text...."></textarea>
      </div>
    <button type="submit" class="btn btn-success">Search</button>

  </form>
  </div>
{% endblock %} 