{% extends 'master/master-logged-in.html' %}
{% block title %}View Notes{% endblock %}
{% block main %}  
<a href="/list" class="btn btn-light">Go Back</a> 
<h3>View Notes</h3>
<div class="container">
  <div class="mb-3 form-group">
    <label for="title" class="form-label">title</label>
    <input type="text" class="form-control" 
        id="title" placeholder="type here notes title...."
        readonly value="{{ note.title }}">
  </div>
  <div class="mb-3 form-group">
      <label for="notes" class="form-label">notes</label>
      <textarea class="form-control" 
          id="notes" placeholder="type here notes...." 
          readonly>{{ note.notes }}</textarea>
    </div>
</div>
  {% endblock %} 