body,input,button { font-family: 'Lucida Console';}
label {display:inline-block; width: 25%;}
form div {margin-bottom: 10px;}
input {width: 70%}
/* apply bg/text color of boxes and buttons and borders */
input {background-color: wheat; border: 1px solid orange;}
button { background-color: cornflowerblue; 
    border:1px solid silver; 
    border-radius:5px;}